export REMOTE_LOCATION_DEVELOPER_DIR="${REMOTE_LOCATION_DEVELOPER_DIR:-/Applications/Xcode-beta.app/Contents/Developer}"
dotenv_if_exists .env.local
export DEVELOPER_DIR="$REMOTE_LOCATION_DEVELOPER_DIR"

use flake
PATH_add "$PWD/bin"
